.sec_1{
       height: 100%;
       margin-bottom: 20px;
}

#notice{
             font-size: 40px;
             padding-top: 20px;
             padding-left: 50px;
             color: rgb(192, 57, 43);
             font-weight:800;
        }

        .form-label{
                     font-size: 25px;
                     padding-top: 10px;
                     padding-left: 10px;
                }

        .form-control{
            font-weight:700;
        }

                .wrapper>nav>.navi>.Menu_left>.one--depth>li>a:hover{
                    color: black;
                }

                .wrapper>nav>.navi>.Menu_right>.one--depth>li>a:hover{
                    color: black;
                }