<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- common.css    -->
    <link rel="stylesheet" href="/css/common.css" type="text/css">
    <!-- header -->
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <!-- Notice_Page_Section -->
    <link rel="stylesheet" href="/css/notice/list.css" type="text/css">
    <!-- footer -->
    <link rel="stylesheet" href="/css/footer.css" type="text/css">

    <!-- favicon.ico   -->
    <link rel="icon" href="/images/favicon/favicon.ico" />

</head>
<body>


<div class="wrapper">
    <!-- 메인 -->
    <header>
        <div class="top-header">
            <a href="/main" ><img class="logo" src="/images/로고.png" alt=""></a>
            <form action="/search" method="get">
                <div class="search_box">
                    <select name="type"  class="selectbox" >
                        <option value="title" selected>TITLE</option>
                        <option value="artist">ARTIST</option>
                    </select>
                    <input id="searchInput" type="text" name="searchText" placeholder="듣고 싶은 노래를 검색하세요!" >
                    <button type="submit">🔍</button>
                </div>
            </form>
            <ul>
                <li><a href="/membership"
                       style="color:rgb(92, 115, 6); font-family: 'SDSamliphopangche_Basic'; font-size: 19px;"><img
                        src="/images/add.png" alt=""> 멤버십가입</a></li>
                <li><a href=""><img src="/images/english.png" alt="">ENGLISH</a></li>
            </ul>
        </div>
    </header>
    <nav>
        <div class="mobilemenu">
                <span href="" class="material-symbols-outlined">menu
                    <ul class="wa">
                        <li><a href="">수박차트</a></li>
                        <li><a href="">수박DJ</a></li>
                        <li><a href="">수박TV</a></li>
                        <li><a href="">수박매거진</a></li>
                        <li><a href="">공지사항</a></li>
                        <li><a href="">마이페이지</a></li>
                    </ul>
                </span>
        </div>
        <div class="navi">
            <div class="Menu_left">
                <ul class="one--depth">
                    <li>
                        <a href="">수박차트</a>
                        <ul class="two--depth">
                            <li><a href="/Top100">TOP100</a></li>
                            <li><a href="">최신음악</a></li>
                            <li><a href="">장르음악</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">수박DJ</a>
                        <ul class="two--depth">
                            <li><a href="">#투데이</a></li>
                            <li><a href="">테마장르</a></li>
                            <li><a href="">인기선곡</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">수박TV</a>
                        <ul class="two--depth">
                            <li><a href="">뮤직비디오</a></li>
                            <li><a href="">수박방송</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">수박매거진</a>
                        <ul class="two--depth">
                            <li><a href="./magazine.html">오늘의매거진</a></li>
                            <li><a href="">완결매거진</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="Menu_right">
                <ul class="one--depth">
                    <li>
                        <a href="">공지사항</a>
                        <ul class="two--depth">
                            <li><a href="/notice/list">공지사항</a></li>
                            <li><a href="/qna/list">QnA</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">마이페이지</a>
                        <ul class="two--depth">
                            <li><a href="/member/mypage">정보수정</a></li>
                            <li><a href="/inmylist">마이리스트</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
    <div class="header_line"></div>


    <!-- SEARCH -->
    <section class="sec_1">
        <form action="/notice/list">
            <input type="hidden" name="pageNo" value="1" />
            <input type="hidden" name="type" value="title"/>
            <div class="Notice_search">
                <div>SEARCH</div>
                <input type="search" name="keyword" placeholder="궁금한 점을 키워드로 검색하세요!">
                <button type="submit">🔍</button>
            </div>
        </form>
    </section>

    <section>

        <!-- contents -->
        <div class="sec_2">

            <!-- title -->
            <div id="notice">공지사항</div>
            <div style="width:100%">
                <div class="notice-header">
                    Page No (<span style="color:red;" th:text="${pageNo}"></span> / <span th:text="${pageDto.totalpage}"></span> Page)
                </div>
                <div class="notice-body">
                    <!-- body -->
                    <table>
                        <thead>
                        <tr>
                            <th class="title_1">NO</th>
                            <th class="title_1">CATEGORY</th>
                            <th class="title_2">TITLE</th>
                            <th class="title_1">DATE</th>
                            <th class="title_1">COUNT</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- NOTICE LIST ITEMS -->
                        <th:block >
                            <tr th:each="noticeDto : ${noticeList}">
                                <td th:text="${noticeDto.no}"></td>
                                <td th:text="${noticeDto.category}"></td>
                                <td><a th:href="@{/notice/read(no=${noticeDto.no})}"  th:text="${noticeDto.title}">  </a></td>
                                <td th:text="${noticeDto.regdate}"></td>
                                <td th:text="${noticeDto.count}"></td>
                            </tr>
                        </th:block>

                        </tbody>
                    </table>

                </div>

                <div class="notice-footer">

                    <!-- post btn -->
                    <div class="button" th:if="${#strings.equals(role, 'MEMBER')}">
                        <a th:href="@{/notice/post}"   type="button">글쓰기</a>
                    </div>


                    <!-- pagenation -->

                    <div class="pagenation">
                        <nav style="display:block;">
                            <ul style="display:flex;">

                                <!-- PREV      -->
                                <li class="page-item" th:if="${pageDto.prev}">
                                    <a class="page-link" th:href="@{/notice/list(pageNo=${pageDto.nowBlock * pageDto.pagePerBlock - pageDto.pagePerBlock*2 + 1} )}">
                                        <span>&laquo;</span>
                                    </a>
                                </li>


                                <!-- PAGENATION -->
                                <th:block th:if="${pageDto.criteria.type == null}">
                                    <li class="page-item" th:each="i : ${#numbers.sequence(pageDto.startPage, pageDto.endPage)}">
                                        <a class="page-link" th:href="@{/notice/list(pageNo=${i})}" ><span th:text="${i}"></span></a>
                                    </li>
                                </th:block>

                                <th:block th:if="${pageDto.criteria.type != null}">
                                    <li class="page-item" th:each="i : ${#numbers.sequence(pageDto.startPage, pageDto.endPage)}">
                                        <a class="page-link" th:href="@{/notice/list(pageNo=${i}, type=${pageDto.criteria.type}, keyword=${pageDto.criteria.keyword})}" ><span th:text="${i}"></span></a>
                                    </li>
                                </th:block>


                                <!-- NEXT -->
                                <li class="page-item"  th:if="${pageDto.next}">
                                    <a class="page-link" th:href="@{/notice/list(pageNo=${pageDto.nowBlock*pageDto.pagePerBlock+1} )}">
                                        <span>&raquo;</span>
                                    </a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <!-- footer -->
    <footer>
        <div class="footer_line"></div>
        <div>
            <ul class="footer_menu">
                <li><a href="">이용약관</a></li>
                <li><a href="">고객센터</a></li>
                <li><a href="">제휴/프로모션</a></li>
                <li><a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;개인정보처리방침</a></li>
            </ul>
        </div>
        <p></p>
        <div class="Site_info">
            <img id="footer_logo" src="/images/로고.png" alt="">
            <span class="Sitename">(주)WATERMELON MUSIC</span>
            <span>대구광역시 중구 중앙대로 366 반월센트럴타워 10층</span>
            <span>대표이사 : 윤치연, 김예솔, 이헌지, 최정기</span>
            <span>사업자등록번호 : 024-04-02023</span>
            <br>
            <span>문의전화 : 1544-1111 (평일 09:00-18:00)</span>
            <span>WATERMELON MUSIC으로 음악과 함께하는 즐거운 하루 보내세요!</span>
        </div>

    </footer>

</div>
<!-- axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>