<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>WaterMelon</title>

    <!--  BS5  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <!-- common.css    -->
    <link rel="stylesheet" href="/css/common.css" type="text/css">
    <!-- header -->
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <!-- Notice_Page_Section -->
    <link rel="stylesheet" href="/css/notice/read.css" type="text/css">
    <!-- footer -->
    <link rel="stylesheet" href="/css/footer.css" type="text/css">

    <!-- favicon.ico   -->
    <link rel="icon" href="/images/favicon/favicon.ico"/>

</head>
<body>


<div class="wrapper">
    <!-- 메인 -->
    <header>
        <div class="top-header">
            <a href="/main"><img class="logo" src="/images/로고.png" alt=""></a>
            <form action="/search" method="get">
                <div class="search_box">
                    <select name="type"  class="selectbox" >
                        <option value="title" selected>TITLE</option>
                        <option value="artist">ARTIST</option>
                    </select>
                    <input id="searchInput" type="text" name="searchText" placeholder="듣고 싶은 노래를 검색하세요!" >
                    <button type="submit">🔍</button>
                </div>
            </form>
            <ul>
                <li><a href="/membership"
                       style="color:rgb(92, 115, 6); font-family: 'SDSamliphopangche_Basic'; font-size: 19px;"><img
                        src="/images/add.png" alt=""> 멤버십가입</a></li>
                <li><a href=""><img src="/images/english.png" alt="">ENGLISH</a></li>
            </ul>
        </div>
    </header>
    <nav>
        <div class="mobilemenu">
                <span href="" class="material-symbols-outlined">menu
                    <ul class="wa">
                        <li><a href="">수박차트</a></li>
                        <li><a href="">수박DJ</a></li>
                        <li><a href="">수박TV</a></li>
                        <li><a href="">수박매거진</a></li>
                        <li><a href="">공지사항</a></li>
                        <li><a href="">마이페이지</a></li>
                    </ul>
                </span>
        </div>
        <div class="navi">
            <div class="Menu_left">
                <ul class="one--depth">
                    <li>
                        <a href="">수박차트</a>
                        <ul class="two--depth">
                            <li><a href="/Top100">TOP100</a></li>
                            <li><a href="">최신음악</a></li>
                            <li><a href="">장르음악</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">수박DJ</a>
                        <ul class="two--depth">
                            <li><a href="">#투데이</a></li>
                            <li><a href="">테마장르</a></li>
                            <li><a href="">인기선곡</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">수박TV</a>
                        <ul class="two--depth">
                            <li><a href="">뮤직비디오</a></li>
                            <li><a href="">수박방송</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">수박매거진</a>
                        <ul class="two--depth">
                            <li><a href="./magazine.html">오늘의매거진</a></li>
                            <li><a href="">완결매거진</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="Menu_right">
                <ul class="one--depth">
                    <li>
                        <a href="">공지사항</a>
                        <ul class="two--depth">
                            <li><a href="/notice/list">공지사항</a></li>
                            <li><a href="/qna/list">QnA</a></li>
                            <li><a href="">자주하는질문</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">마이페이지</a>
                        <ul class="two--depth">
                            <li><a href="/member/mypage">정보수정</a></li>
                            <li><a href="/inmylist">마이리스트</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
    <div class="header_line"></div>


    <section class="sec_1">
        <!-- title -->
        <div id="notice">공지사항</div>


        <div>
            <input type="hidden" name="no">
            <div class="mb-3 w-100">
                <label for="exampleFormControlInput2" class="form-label">No</label>
                <input type="text" name="no" class="form-control" id="exampleFormControlInput2"
                       th:value="${noticeDto.no}" readonly>
            </div>
            <div class="mb-3 w-100">
                <label for="ex2" class="form-label">공지 제목</label>&nbsp;&nbsp;
                <input type="text" class="form-control" id="ex2" placeholder="Title" name="title"
                       th:value="${noticeDto.title}" readonly>
            </div>
            <div class="mb-3 w-100">
                <label for="exampleFormControlTextarea1" class="form-label">공지 내용</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" th:text="${noticeDto.content}"
                          readonly></textarea>
            </div>
            <div class="mb-3  w-100">
                <th:block>
                    <div th:if="${filenames!=null }">
                        <div>
                            <span>파일개수 : </span><span th:text="${filenames.length}"></span>
                        </div>
                        <!-- 문자열을 쉼표(,)로 분할하고 각각의 항목을 출력합니다. -->
                        <div th:each="i : ${#numbers.sequence(0, filenames.length-1)}">
                            <a th:href="@{/notice/download(filename=${filenames[i]})}">
                                <span th:text="${filenames[i]}"> </span>&nbsp;&nbsp;
                                ( <span th:text="${filesizes[i]}"> </span><span> Byte</span> )
                            </a>
                        </div>
                    </div>
                </th:block>
            </div>
            <div class="button">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end" aria-label="Basic outlined example">
                    <a type="button" class="btn btn-outline-danger btn-sm update_btn"
                       style="width:80px; margin-top:10px;" th:href="@{/notice/update(no=${noticeDto.no})}">수정</a>
                    <a type="button" class="btn btn-outline-danger btn-sm delete_btn"
                       style="width:80px; margin-top:10px;" th:data-no="${noticeDto.no}">삭제</a>
                    <a type="button" class="btn btn-outline-danger btn-sm" style="width:80px; margin-top:10px;"
                       th:href="@{/notice/list(pageNo=${pageNo})}">이전</a>
                </div>
            </div>

        </div>
    </section>


    <footer>
        <div class="footer_line"></div>
        <div>
            <ul class="footer_menu">
                <li><a href="">이용약관</a></li>
                <li><a href="">고객센터</a></li>
                <li><a href="">제휴/프로모션</a></li>
                <li><a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;개인정보처리방침</a></li>
            </ul>
        </div>
        <p></p>
        <div class="Site_info">
            <img id="footer_logo" src="/images/로고.png" alt="">
            <span class="Sitename">(주)WATERMELON MUSIC</span>
            <span>대구광역시 중구 중앙대로 366 반월센트럴타워 10층</span>
            <span>대표이사 : 윤치연, 김예솔, 이헌지, 최정기</span>
            <span>사업자등록번호 : 024-04-02023</span>
            <br>
            <span>문의전화 : 1544-1111 (평일 09:00-18:00)</span>
            <span>WATERMELON MUSIC으로 음악과 함께하는 즐거운 하루 보내세요!</span>
        </div>

    </footer>

</div>


<!-- axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
        integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:inline="javascript">
    //model변수 받아오기
    var noticeRole = [[${role}]];
</script>
<script>
    //noticeRole값 확인
    console.log("ROLE : " + noticeRole);

    const update_btn_el = document.querySelector('.update_btn');
    const delete_btn_el = document.querySelector('.delete_btn');

    //관리자가 아닐 경우 수정, 삭제버튼 비활성화
    if(noticeRole !== 'MEMBER'){
        console.log("관리자가 아닙니다.");
        update_btn_el.removeAttribute('href');
        update_btn_el.addEventListener('click', function() {alert('관리자만 수정할 수 있습니다.');});
        delete_btn_el.removeAttribute('href');
        delete_btn_el.addEventListener('click', function() {alert('관리자만 삭제할 수 있습니다.');});
    } else if(noticeRole == 'MEMBER') {
        //관리자일 때 삭제 가능
        delete_btn_el.addEventListener('click',function(){
        const no = delete_btn_el.dataset.no;
        axios.delete("/notice/delete?no="+no)
        .then(
            response=>{console.log(response);
                if(response.status === 200){
                    location.href="/notice/list";
                }
            }
        )
        .catch(error=>console.log(error));
    });
    }


</script>


</body>
</html>