.sec_1{
       height: 100%;
       margin-bottom: 20px;
}

#qna{
             font-size: 40px;
             padding-top: 20px;
             padding-left: 50px;
             color: rgb(192, 57, 43);
             font-weight:800;
        }

        .form-label{
                     font-size: 25px;
                     padding-top: 10px;
                     padding-left: 10px;
                }

        .form-control{
            font-weight:700;
        }

                .wrapper>nav>.navi>.Menu_left>.one--depth>li>a:hover{
                    color: black;
                }

                .wrapper>nav>.navi>.Menu_right>.one--depth>li>a:hover{
                    color: black;
                }



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


                  .sec_2{
                    margin-bottom: 30px;
                  }
                   .sec_2  img{
                       width : 35px; height : 35px;
                   }
                   .sec_2 a{
                       text-decoration : none;
                       color : gray;
                   }
                   .sec_2 a:hover{
                       color : royalblue;
                   }


                   .sec_2>.reply-header{
                       display: flex;
                           align-items: center;
                           margin: 20px;
                   }
                   .sec_2>.reply-header>*{
                       margin:5px;
                   }

                   .sec_2>.reply-header>*:nth-child(2){
                       width : 1000px;
                   }


                   .sec_2>.reply-body>.items{}
                   .sec_2>.reply-body>.items>.item{
                       display:flex;
                       margin-bottom:5px;
                   }
                   .sec_2>.reply-body>.items>.item>*{
                       margin:5px;
                   }
                   .sec_2>.reply-body>.items>.item>.body{

                   }
                   .sec_2>.reply-body>.items>.item>.body>*{
                       margin-bottom:2px;

                   }

                   .reply_manager{
                       font-size: 15px;
                       color : rgb(92, 115, 6);
                       display : inline-block;
                       width: 180px;
                   }

                   .reply_regdate{
                       font-size : 15px;
                       color : gray;

                   }
                   .contents{
                       font-size : 18px;
                       color : black;
                       width : 1000px;
                   }




                   ::-webkit-scrollbar {
                         display: none;
                   }

                   .sec_2>.reply-body>.items>.item>.body{
                       position:relative;
                   }
                   .reply_delete{
                       position:absolute;
                       left:340px;
                       text-align: right;
                       font-size:18px;
                       top:3px;
                   }
                   .reply_delete:hover{
                       color : red;
                   }