<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>WaterMelon</title>
    <!-- common.css    -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/member_Page.css">
    <link rel="stylesheet" href="/css/footer.css">

    <script type="text/javascript" src="/js/member/member.js"></script>
    <!-- favicon.ico   -->
    <link rel="icon" href="/images/favicon/favicon.ico" />
</head>
<body>
<div class="wrapper">
    <header>
        <div class="log-header">
            <a href="/indexlog" ><img class="logo" src="/images/로고.png" alt=""></a>
            <ul>
                <li><a href=""><img  src="/images/english.png" alt="">ENGLISH</a></li>
            </ul>
        </div>
        <div class="logheader_line"></div>
    </header>
    <section class="member">

        <h1>관리자 페이지입니다.</h1>
        <ul>
            <li><span class="title">전체회원조회<button class="alluser" id="showButton">조회하기</button></span><hr/></li>
            <div class="selectall">
                <table>
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="member : ${list}">
                        <td th:text="${member.username}">Username</td>
                        <td th:text="${member.name}">Name</td>
                        <td th:text="${member.addr1 + ' ' + member.addr2}">Address</td>
                        <td th:text="${member.phone}">Phone</td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <br />
            <li><span class="title">회원 검색</span><hr/></li>
            <div class="search_block" >
                <input type="text" id="search_input" name="id" placeholder="검색할 id를 입력하세요">
                <button class="oneuser" id="searchButton">검색</button>
            </div>
            <div class="oneshowBlock" id="oneshowblock">
                <table>
                    <thead>
                    <tr>
                        <th>유저아이디</th>
                        <th>이름</th>
                        <th>주소</th>
                        <th>전화번호</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 검색 결과 반복 -->
                    <tr th:each="member : ${searchResults}">
                        <td th:text="${member.username}">Username</td>
                        <td th:text="${member.name}">Name</td>
                        <td th:text="${member.addr1 + ' ' + member.addr2}">Address</td>
                        <td th:text="${member.phone}">Phone</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <br />
            <li><span class="title">회원 삭제</span><hr/></li>
            <form action="/member/remove" method="post">
                <input type="text" id="remove_input" name="id" placeholder="사용자 검색">
                <button class="removeuser">삭제</button>
            </form>
            <br />
        </ul>

    </section>
    <footer>
        <div class="footer_line"></div>
        <div>
            <ul class="footer_menu">
                <li><a href="">이용약관</a></li>
                <li><a href="">고객센터</a></li>
                <li><a href="">제휴/프로모션</a></li>
                <li style="width:170px"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;개인정보처리방침</a></li>
            </ul>
        </div>
        <p></p>
        <div class="Site_info">
            <img id="footer_logo" src="/images/로고.png" alt="">
            <span class="Sitename">(주)WATERMELON MUSIC</span>
            <span>대구광역시 중구 중앙대로 366 반월센트럴타워 10층</span>
            <span>대표이사 : 윤치연, 김예솔, 이헌지, 최정기</span>
            <span>사업자등록번호 : 024-04-02023</span>
            <br>
            <span>문의전화 : 1544-1111 (평일 09:00-18:00)</span>
            <span>WATERMELON MUSIC으로 음악과 함께하는 즐거운 하루 보내세요!</span>
        </div>
    </footer>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>