<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>WaterMelon</title>
    <!-- common.css    -->
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/update_Page.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">

    <!-- favicon.ico   -->
    <link rel="icon" href="/images/favicon/favicon.ico" />
</head>
<body>

<div class="wrapper">
    <header>
        <div class="log-header">
            <a href="/indexlog" ><img class="logo" src="/images/로고.png" alt=""></a>
            <ul>
                <li><a href=""><img  src="/images/english.png" alt="">ENGLISH</a></li>
            </ul>
        </div>
        <div class="logheader_line"></div>
    </header>

    <section class="update">
        <h1>내 정보를 수정 해보세요!</h1>
        <form action="/member/update" method="post" class="update" name="update" onsubmit="return false" >
            <span class="title" >ID</span><hr/><input type="text" name="username" th:value="${principalDetails.username}" readonly /><br />
            <span class="title">NAME</span><hr/><input type="text" name="name" th:value="${principalDetails.name}" readonly /><br />
            <div>
                <span class="title pwmsg">기존 PW</span>
                <button class="btn btn-secondary password_btn" id="pw_btn">확인</button>
            </div><hr/><input type="password" name="password" /><br />
            <span class="title">새 PW</span><hr/><input type="password" name="repassword" readonly/><br />
            <span class="title">EMAIL</span><hr/><input type="text" name="email" th:value="${principalDetails.email}" readonly /><br />
            <div>
                <span class="title">ZIPCODE</span>
                <button class="btn btn-secondary zipcode_btn" id="addr_btn">검색</button>
            </div><hr/><input type="text" name="zipcode" class="zipcode" th:value="${principalDetails.zipcode}" /><br />
            <span class="title">ADDR1</span><hr/><input type="text" name="addr1" class="addr1" th:value="${principalDetails.addr1}" /><br />
            <span class="title">ADDR2</span><hr/><input type="text" name="addr2" th:value="${principalDetails.addr2}" /><br />
            <span class="title">PHONE</span><hr/><input type="text" name="phone" th:value="${principalDetails.phone}" />
            <input id="update_btn" type="submit" value="수정하기" onclick="isValid()"/>
        </form>

    </section>


    <footer>
        <div class="footer_line"></div>
        <div>
            <ul class="footer_menu">
                <li><a href="">이용약관</a></li>
                <li><a href="">고객센터</a></li>
                <li><a href="">제휴/프로모션</a></li>
                <li><a href=""> 개인정보처리방침</a></li>
            </ul>
        </div>
        <p></p>
        <div class="Site_info">
            <img id="footer_logo" src="/images/로고.png" alt="">
            <span class="Sitename">(주)WATERMELON MUSIC</span>
            <span>대구광역시 중구 중앙대로 366 반월센트럴타워 10층</span>
            <span>대표이사 : 윤치연, 김예솔, 이헌지, 최정기</span>
            <span>사업자등록번호 : 024-04-02023</span>
            <br>
            <span>문의전화 : 1544-1111 (평일 09:00-18:00)</span>
            <span>WATERMELON MUSIC으로 음악과 함께하는 즐거운 하루 보내세요!</span>
        </div>
    </footer>
</div>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<!-- axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
        integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
</script>

<script>

    const addr_btn = document.querySelector('#addr_btn');
    addr_btn.addEventListener('click', function(){
        new daum.Postcode({
        oncomplete: function(data) {
            console.log(data);
            const zipcode = document.querySelector('.zipcode');
            const addr1 = document.querySelector('.addr1');

            if(data.userSelectedType === 'R')
            {
                addr1.value = data.roadAddress;
            }
            else
            {
                addr1.value = data.jibunAddress;
            }
            zipcode.value = data.zonecode;
        }
    }).open();
    });


   const isValid = ()=>{
        const form = document.update;
        form.submit();
    }


       //패스워드 일치 검증 코드
        const form = document.update;
        const passwordConfirmBtn = document.querySelector('.password_btn');
        passwordConfirmBtn.addEventListener('click',function(){
            const requestData = {
              oldPassword: form.password.value
            };

            axios.post('/member/passwordConfirm', requestData)
              .then(response => {
                console.log('Success:', response);
                const msgtg = document.querySelector('.pwmsg');
                msgtg.innerHTML=response.data;
                msgtg.style.color='green';

                form.repassword.readOnly = false;
              })
              .catch(error => {

                    console.log('Unauthorized: Incorrect password');
                    const msgtg = document.querySelector('.pwmsg');
                    msgtg.innerHTML='Unauthorized: Incorrect password';
                    msgtg.style.color='orange';

              });

        })

</script>

</body>
</html>