<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>WaterMelon</title>
    <!-- common.css    -->
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/user_Page.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">


    <!-- favicon.ico   -->
    <link rel="icon" href="/images/favicon/favicon.ico" />
</head>
<body>

<div class="wrapper">
    <header>
        <div class="log-header">
            <a href="/indexlog" ><img class="logo" src="/images/로고.png" alt=""></a>
            <ul>
                <li><a href=""><img  src="/images/english.png" alt="">ENGLISH</a></li>
            </ul>
        </div>
        <div class="logheader_line"></div>
    </header>
    <section class="user">
        <h1>내 정보를 확인 해보세요!</h1>
        <form action="/member/update" class="update" name="update" onsubmit="return false">
                <li><span class="title">ID</span><hr/><input type="text" name="username" th:value="${updatedUserInfo.username}" readonly/> </li>
                <br />
                <li><span class="title">NAME</span><hr/><input type="text" name="name" th:value="${updatedUserInfo.name}" readonly/></li>
                <br />
                <li><span class="title">PW</span><hr/><input type="password" name="password" th:value="${principalDetails.password}" readonly/></li>
                <br />
                <li><span class="title">EMAIL</span><hr/><input type="text" name="email" th:value="${updatedUserInfo.email}" readonly/></li>
                <br />
                <li><span class="title">ZIPCODE</span><hr/><input type="text" name="zipcode" th:value="${updatedUserInfo.zipcode}" readonly/></li>
                <br />
                <li><span class="title">ADDR1</span><hr/><input type="text" name="addr1" th:value="${updatedUserInfo.addr1}" readonly/></li>
                <br />
                <li><span class="title">ADDR2</span><hr/><input type="text" name="addr2" th:value="${updatedUserInfo.addr2}" readonly/></li>
                <br />
                <li><span class="title">PHONE</span><hr/><input type="text" name="phone" th:value="${updatedUserInfo.phone}" readonly/></li>
                <div>
                    <button id="back_btn" onclick= "location.href='/indexlog'">이전</button>
                    <button id="update_btn" onclick="isValid()">정보수정</button>
                </div>
        </form>
    </section>

    <footer>
        <div class="footer_line"></div>
        <div>
            <ul class="footer_menu">
                <li><a href="">이용약관</a></li>
                <li><a href="">고객센터</a></li>
                <li><a href="">제휴/프로모션</a></li>
                <li><a href=""> 개인정보처리방침</a></li>
            </ul>
        </div>
        <p></p>
        <div class="Site_info">
            <img id="footer_logo" src="/images/로고.png" alt="">
            <span class="Sitename">(주)WATERMELON MUSIC</span>
            <span>대구광역시 중구 중앙대로 366 반월센트럴타워 10층</span>
            <span>대표이사 : 윤치연, 김예솔, 이헌지, 최정기</span>
            <span>사업자등록번호 : 024-04-02023</span>
            <br>
            <span>문의전화 : 1544-1111 (평일 09:00-18:00)</span>
            <span>WATERMELON MUSIC으로 음악과 함께하는 즐거운 하루 보내세요!</span>
        </div>
    </footer>
</div>

<script>
    const isValid = ()=>{
        const form = document.update;
        form.submit();
    }
</script>

</body>
</html>