li{
    list-style: none;
    }

    .member {
        width: 450px;
        display: block;
        height: 100%;
        padding-top: 50px;
        margin: 0 auto;
    }

    .member h1 {
        padding-top: 20px;
        font-size: 35px;
        color: #111;
        text-align: center;
    }

    .member>ul {
        padding: 40px 0 10px;
    }

    .member>ul li {
        padding: 0 0 12px;
        text-align: left;
    }

    .member>ul li .title {
		font-size: 25px;
		display: block;
		margin-left: 10px;
		color: gray;
	}

	.member #search_input{
        width: 75%;
        height: 40px;
        box-sizing: border-box;
        text-indent: 15px;
        font-size: 18px;
        color: black;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 800;
    }

	.member form #remove_input{
        width: 75%;
        height: 40px;
        box-sizing: border-box;
        text-indent: 15px;
        font-size: 18px;
        color: black;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 800;
    }

    .member>form input::-webkit-input-placeholder {
        font-size: 18px;
        color: gray;
    }

	.member .title>.alluser{
		width: 82px;
        height: 25px;
        font-size: 18px;
        cursor: pointer;
        display: inline-block;
        margin: 0 5px;
        float: right;

	}

	.member .oneuser{
        width: 82px;
        height: 40px;
        margin-left: 15px;
        margin-right: 0px;
        font-size: 18px;
        cursor: pointer;
    }

    .member form .removeuser{
        width: 82px;
        height: 40px;
        margin-left: 15px;
        margin-right: 0px;
        font-size: 18px;
        cursor: pointer;
    }

    .member #back_btn {
        width: 60px;
        height: 35px;
        background: #ed1c24;
        border-radius: 5px;
        font-size: 22px;
        color: #fff;
        margin-top: 20px;
        cursor: pointer;
    }

    .member #update_btn{
		width: 100px;
        height: 35px;
        background: #ed1c24;
        border-radius: 5px;
        font-size: 22px;
        color: #fff;
        margin-top: 20px;
  		margin-left: 240px;
        cursor: pointer;
	}

	.selectall {
        display: none;
        font-size: 20px;
		margin-top: 10px;
		text-align: center;
    }