/* Section : ms_pay */

.ms_pay {
    margin: 15px auto;
}


.ms_pay .title {

    display: inline-block;
    color: rgb(192, 57, 43);
    font-weight: 700;
    width: 500px;
    font-size: 2.5rem;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight:800;
}

.ms_pay .myMembership{
    display: inline-block;
    text-align: right;
    width: 690px;
    font-size: 20px;

}


.ms_pay .myMembership>a{
    display: inline-block;
    width: 65px;
    height: 30px;
    border: 2px solid rgb(192, 57, 43);
    border-radius: 7px;
    background-color: white;
    color: rgb(192, 57, 43);
    font-size: 20px;
    text-align: center;
    line-height: 25px;
}

.ms_pay .myMembership>a:hover{
    background-color: rgb(192, 57, 43);
    color: white;
}

.ms_pay>div{
    display: flex;
    margin: 20px auto;
    justify-content:space-around;
    margin-top: 15px;
}


.ms_pay .subscribe_1 {
    display: inline-block;
    border: 5px solid gray;
    border-radius: 40px;
    width: 350px;
    height: 350px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.ms_pay .subscribe_2 {
    display: inline-block;
    border: 5px solid gray;
    border-radius: 40px;
    width: 350px;
    height: 350px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.ms_pay .subscribe_1>span {
    display: block;
    width: 300px;
    height: 50px;
    font-size: 35px;
    color: gray;
    margin-top: 5px;

}

.ms_pay .subscribe_2>span {
    display: block;
    width: 300px;
    height: 50px;
    font-size: 35px;
    color: gray;
    margin-top: 5px;

}


.ms_pay .price {
    display: block;
    font-size: 45px;
    color: brown;
}

.sub_img {
    width: 90px;
    height: 90px;
}

/* section : ms_benefit */
.ms_benefit {
    margin: 20px auto;
}

.ms_benefit .title {
    display: block;
    color: rgb(192, 57, 43);
    font-weight: 700;
    width: 900px;
    font-size: 2rem;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight:800;
}

.ms_benefit #ben_img{
    display: flex;
    /* border: 1px solid blue; */
    justify-content:space-around;
    align-items: center;
    margin: 15px auto;
}

.ms_benefit .benefit_icon {
    display: flex;
    border: 4px solid gray;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;

}

.ms_benefit .benefit_icon>img{
    /* position: absolute; */
    width: 130px;
    height: 130px;

}


.ms_benefit #title1 {

    display: inline-block;
    font-size: 25px;
    color: rgb(68, 67, 67);
    margin-bottom: 20px;
    margin-left: 25px;
}

.ms_benefit #title2 {

    display: inline-block;
    font-size: 25px;
    color: rgb(68, 67, 67);
    margin-left: 50px;
}

.ms_benefit #title3 {

    display: inline-block;
    font-size: 25px;
    color: rgb(68, 67, 67);
    margin-left: 94px;
}

.ms_benefit #title4 {

    display: inline-block;
    font-size: 25px;
    color: rgb(68, 67, 67);
    margin-left: 125px;
}