
/* Section 1 전체 */
section {
    margin: 20px auto;
}



        #search{
             font-size: 40px;
             padding-top: 20px;
             padding-left: 50px;
             color: rgb(192, 57, 43);
        }

        .search-header{
            text-align: right;
            font-size:20px;
            margin : 20px auto;
        }


        .search-body table{
            border-top: 1px solid #444444;
            border-collapse: collapse;
        }

        .search-body tr{
            height: 50px;
        }


        .search-body th{
            font-size:23px;
            text-align: center;
            border-bottom: 1px solid #444444;
            padding: 10px;

        }

        .search-body td{
            font-size: 20px;
            text-align: center;
            border-bottom: 1px solid #444444;
            padding: 10px;

        }

        .title_1{
            width: 250px;
        }

        .title_2{
            width: 400px;
        }