li{
    	list-style: none;
    }

    .update {
        width: 410px;
        display: block;
        height: 1150px;
        padding-top: 50px;
        margin: 0 auto;
    }

    .update h1 {
        padding-top: 20px;
        font-size: 35px;
        color: #111;
        text-align: center;
    }

    .update>form {
        padding: 40px 0 10px;
    }

    .update>form>span {
        text-align: left;
		font-size: 25px;
		display: block;
		margin-left: 10px;
		color: gray;
    }

    .update>form>div{
        width: 410px;
        display: flex;
        justify-content : space-between;
    }

    .update>form>div>span {
        text-align: left;
        font-size: 25px;
        display: inline-block;
        margin-left: 10px;
        color: gray;
    }

	.update>form>input{
		font-size: 30px;
		display: block;
		margin-top: 10px;
		text-align: center;
		width: 100%;
        height: 40px;
        box-sizing: border-box;
        color: black;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 800;
	}

    .update #update_btn{
		width: 100px;
        height: 35px;
        background: #ed1c24;
        border-radius: 5px;
        font-size: 22px;
        color: #fff;
        margin-top: 30px;
  		margin-left: 305px;
        cursor: pointer;
        text-align: center;
	}

    .update #pw_btn{
        width: 100px;
        height: 35px;
        background: #ed1c24;
        border-radius: 5px;
        font-size: 22px;
        color: #fff;
        cursor: pointer;
        text-align: center;
    }

	.update #addr_btn{
	    width: 100px;
        height: 35px;
        background: #ed1c24;
        border-radius: 5px;
        font-size: 22px;
        color: #fff;
        cursor: pointer;
        text-align: center;

	}