li{
    list-style: none;
    }

    .user {
        width: 410px;
        display: block;
        height: 1100px;
        padding-top: 50px;
        margin: 0 auto;
    }

    .user h1 {
        padding-top: 20px;
        font-size: 35px;
        color: #111;
        text-align: center;
    }

    .user>form {
        padding: 40px 0 10px;
    }

    .user>form li {
        padding: 0 0 12px;
        text-align: left;
    }

    .user>form li .title {
		font-size: 25px;
		display: block;
		margin-left: 10px;
		color: gray;
	}

	.user>form>li>input{
		font-size: 30px;
        display: block;
        margin-top: 10px;
        text-align: center;
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        color: black;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 800;
	}

    .user #back_btn {
        width: 60px;
        height: 35px;
        background: #ed1c24;
        border-radius: 5px;
        font-size: 22px;
        color: #fff;
        margin-top: 20px;
        cursor: pointer;
    }
    .user>form>div{
        display:flex;
    }
    .user #update_btn{
		width: 100px;
        height: 35px;
        background: #ed1c24;
        border-radius: 5px;
        font-size: 22px;
        color: #fff;
        margin-top: 20px;
  		margin-left: 240px;
        cursor: pointer;
	}