<!DOCTYPE html>
<html lang="en" xmlns:c="" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <!-- common.css    -->
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/MembershipM_Page.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">

    <!-- favicon.ico   -->
    <link rel="icon" href="/images/favicon/favicon.ico" />

</head>

<body>
<div class="wrapper">
    <header>
        <div class="log-header">
            <a href="/index" ><img class="logo" src="/images/로고.png" alt=""></a>
            <ul>
                <li><a href=""><img src="/images/english.png" alt="">ENGLISH</a></li>
            </ul>
        </div>
        <div class="logheader_line"></div>
    </header>

    <section class="membership_M">
        <h1>멤버십 관리 페이지입니다. </h1>
        <ul>
            <div>
            <form action="/membership/selectAll" method="get">
            <li><span class="title">멤버십회원 전체조회
						<button class="alluser" id="showButton">조회하기</button>
				</span>
                <hr /></li>
            </form>
            </div>
            <div class="selectall">
                <table>
                    <tr>
                        <th class="search_title1" th:style="'color: rgb(92, 115, 6);'" th:text="'CODE'"></th>
                        <th class="search_title2" th:style="'color: rgb(92, 115, 6);'" th:text="'USERNAME'"></th>
                        <th class="search_title1" th:style="'color: rgb(92, 115, 6);'" th:text="'NAME'"></th>
                        <th class="search_title2" th:style="'color: rgb(92, 115, 6);'" th:text="'START_DATE'"></th>
                        <th class="search_title2" th:style="'color: rgb(92, 115, 6);'" th:text="'END_DATE'"></th>
                    </tr>
                    <tr th:each="dto:${selectedAllList}">
                        <td class="search_title1" th:text="${dto.membershipcode}"></td>
                        <td class="search_title2" th:text="${dto.username}"></td>
                        <td class="search_title1" th:text="${dto.name}"></td>
                        <td class="search_title2" th:text="${dto.startdate}"></td>
                        <td class="search_title2" th:text="${dto.enddate}"></td>
                    </tr>
                </table>
            </div>
            <br />
            <li><span class="title">멤버십 키워드검색</span>
                <hr /></li>
            <div class="search_block">
                <select id="select">
                    <option value="username" selected>USERNAME</option>
                    <option value="membershipcode">멤버십 코드</option>
                    <option value="enddate">종료 날짜</option>
                </select>
                <form action="/membership/selectId" method="get">
                    <input type="text" class="search_input"
                           placeholder="검색할 USERNAME를 입력하세요" name="username">
                    <button class="ms_search" type="submit" id="key_search">검색</button>
                </form>
            </div>
            <div class="keywordShow">
                <th:block th:if="${selectedId != null and #strings.equals(selectedOption, 'username')}">
                <table>
                    <tr>
                        <th class="search_title1" th:style="'color: rgb(92, 115, 6);'" th:text="'CODE'"></th>
                        <th class="search_title2" th:style="'color: rgb(92, 115, 6);'" th:text="'USERNAME'"></th>
                        <th class="search_title1" th:style="'color: rgb(92, 115, 6);'" th:text="'NAME'"></th>
                        <th class="search_title2" th:style="'color: rgb(92, 115, 6);'" th:text="'START_DATE'"></th>
                        <th class="search_title2" th:style="'color: rgb(92, 115, 6);'" th:text="'END_DATE'"></th>
                    </tr>
                    <!-- 선택된 옵션에 따라서 다른 블록을 표시하거나 숨김 -->
                    <tr>
                        <td class="search_title1" th:text="${selectedId.membershipcode}"></td>
                        <td class="search_title2" th:text="${selectedId.username}"></td>
                        <td class="search_title1" th:text="${selectedId.name}"></td>
                        <td class="search_title2" th:text="${selectedId.startdate}"></td>
                        <td class="search_title2" th:text="${selectedId.enddate}"></td>
                    </tr>
                    </table>
                    </th:block>

                    <th:block th:if="${selectedCodeList != null and #strings.equals(selectedOption, 'membershipcode')}">
                <table>
                    <tr>
                        <th class="search_title1" th:style="'color: rgb(92, 115, 6);'" th:text="'CODE'"></th>
                        <th class="search_title2" th:style="'color: rgb(92, 115, 6);'" th:text="'USERNAME'"></th>
                        <th class="search_title1" th:style="'color: rgb(92, 115, 6);'" th:text="'NAME'"></th>
                        <th class="search_title2" th:style="'color: rgb(92, 115, 6);'" th:text="'START_DATE'"></th>
                        <th class="search_title2" th:style="'color: rgb(92, 115, 6);'" th:text="'END_DATE'"></th>
                    </tr>
                <tr>
                        <td class="search_title1" th:text="${selectedCodeList.membershipcode}"></td>
                        <td class="search_title2" th:text="${selectedCodeList.username}"></td>
                        <td class="search_title1" th:text="${selectedCodeList.name}"></td>
                        <td class="search_title2" th:text="${selectedCodeList.startdate}"></td>
                        <td class="search_title2" th:text="${selectedCodeList.enddate}"></td>
                    </tr>
                </table>
                    </th:block>
                <th:block th:if="${selectedDateList != null and #strings.equals(selectedOption, 'enddate')}">
                    <table>
                        <tr>
                            <th class="search_title1" th:style="'color: rgb(92, 115, 6);'" th:text="'CODE'"></th>
                            <th class="search_title2" th:style="'color: rgb(92, 115, 6);'" th:text="'USERNAME'"></th>
                            <th class="search_title1" th:style="'color: rgb(92, 115, 6);'" th:text="'NAME'"></th>
                            <th class="search_title2" th:style="'color: rgb(92, 115, 6);'" th:text="'START_DATE'"></th>
                            <th class="search_title2" th:style="'color: rgb(92, 115, 6);'" th:text="'END_DATE'"></th>
                        </tr>
                    <tr>
                        <td class="search_title1" th:text="${selectedDateList.membershipcode}"></td>
                        <td class="search_title2" th:text="${selectedDateList.username}"></td>
                        <td class="search_title1" th:text="${selectedDateList.name}"></td>
                        <td class="search_title2" th:text="${selectedDateList.startdate}"></td>
                        <td class="search_title2" th:text="${selectedDateList.enddate}"></td>
                    </tr>
                </table>
                </th:block>

            </div>
            <br />
            <li><span class="title">회원 삭제</span>
                <hr /></li>
            <form action="/membership/delete" method="post">
                <input type="text" id="remove_input" name="username"
                       placeholder="멤버십에서 삭제할 USERNAME을 입력하세요">
                <button class="ms_delete">삭제</button>
            </form>
            <br />
        </ul>

    </section>
    <footer>
        <div class="footer_line"></div>
        <div>
            <ul class="footer_menu">
                <li><a href="">이용약관</a></li>
                <li><a href="">고객센터</a></li>
                <li><a href="">제휴/프로모션</a></li>
                <li style="width:170px"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;개인정보처리방침</a></li>
            </ul>
        </div>
        <p></p>
        <div class="Site_info">
            <img id="footer_logo" src="/images/로고.png" alt="">
            <span class="Sitename">(주)WATERMELON MUSIC</span>
            <span>대구광역시 중구 중앙대로 366 반월센트럴타워 10층</span>
            <span>대표이사 : 윤치연, 김예솔, 이헌지, 최정기</span>
            <span>사업자등록번호 : 024-04-02023</span>
            <br>
            <span>문의전화 : 1544-1111 (평일 09:00-18:00)</span>
            <span>WATERMELON MUSIC으로 음악과 함께하는 즐거운 하루 보내세요!</span>
        </div>

    </footer>
</div>
</body>

<!-- axios cdn -->
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
        integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>

    //회원 전체조회 script
     <!-- document.addEventListener('DOMContentLoaded', function() {
           // 버튼 클릭 이벤트 핸들러
           var showButton = document.getElementById('showButton');
           var selectAllDiv = document.querySelector('.selectall');

           showButton.addEventListener('click', function() {
               if (selectAllDiv.style.display === 'none' || selectAllDiv.style.display === '') {
                 axios.get("/membership/selectAll")
                .then(function (response) {
                    var data = response.data;
                      selectAllDiv.style.display = 'block'; // 보이도록 함

                    // data를 DTO에 매핑하고 테이블에 표시하는 코드를 작성해야 합니다.
                    displaySearchResults(data);
                    // 예를 들어, data를 반복하여 테이블 행을 추가할 수 있습니다.
                })
                .catch(function (error) {
                    console.error("검색에 실패했습니다.", error);
                    selectAllDiv.style.display = 'none'; // 숨김
                })


           }
           });
-->


   document.addEventListener('DOMContentLoaded', function() {
        // 버튼 클릭 이벤트 핸들러
        var showButton = document.getElementById('showButton');
        var selectAllDiv = document.querySelector('.selectall');

        showButton.addEventListener('click', function() {
            if (selectAllDiv.style.display === 'none' || selectAllDiv.style.display === '') {
                // axios를 사용하여 서버로 GET 요청을 보냅니다.
                axios.get("/membership/selectAll")
                    .then(function (response) {
                        var data = response.data;

                        // selectAllDiv의 내용을 초기화합니다.
                        selectAllDiv.innerHTML = "";

                        // 테이블을 생성하고 헤더를 추가합니다.
                        var table = document.createElement("table");
                        table.innerHTML = `
                            <tr>
                                <th class="search_title1" style="color: rgb(92, 115, 6);">CODE</th>
                                <th class="search_title2" style="color: rgb(92, 115, 6);">USERNAME</th>
                                <th class="search_title1" style="color: rgb(92, 115, 6);">NAME</th>
                                <th class="search_title2" style="color: rgb(92, 115, 6);">START_DATE</th>
                                <th class="search_title2" style="color: rgb(92, 115, 6);">END_DATE</th>
                            </tr>
                        `;

                        // 데이터를 테이블에 추가합니다.
                        data.forEach(function (dto) {
                            var row = table.insertRow();
                            var cell1 = row.insertCell(0);
                            var cell2 = row.insertCell(1);
                            var cell3 = row.insertCell(2);
                            var cell4 = row.insertCell(3);
                            var cell5 = row.insertCell(4);

                            cell1.textContent = dto.membershipcode;
                            cell2.textContent = dto.username;
                            cell3.textContent = dto.name;
                            cell4.textContent = dto.startdate;
                            cell5.textContent = dto.enddate;
                        });

                        // 테이블을 selectAllDiv에 추가합니다.
                        selectAllDiv.appendChild(table);

                        // selectAllDiv을 보이도록 설정합니다.
                        selectAllDiv.style.display = 'block';
                    })
                    .catch(function (error) {
                        console.error("검색에 실패했습니다.", error);
                        selectAllDiv.style.display = 'none'; // 실패 시 숨김
                    });
            }
        });
    });

<!--



    //회원 단건조회 script
	 document.addEventListener("DOMContentLoaded", function () {
            var select = document.getElementById("select");
            var searchForm = document.getElementById("searchForm");
            var searchInput = searchForm.querySelector(".search_input");
            var resultTable = document.getElementById("resultTable");

            select.addEventListener("change", function () {
                var selectedOption = select.value;
                var placeholderText = "";

                if (selectedOption === "username") {
                    placeholderText = "검색할 USERNAME를 입력하세요";
                } else if (selectedOption === "membershipcode") {
                    placeholderText = "검색할 멤버십 코드를 입력하세요";
                } else if (selectedOption === "enddate") {
                    placeholderText = "검색할 종료 날짜를 입력하세요";
                }

                searchInput.placeholder = placeholderText;
            });

            searchForm.addEventListener("submit", function (event) {
                event.preventDefault(); // 폼 제출 방지

                var selectedOption = select.value;
                var searchKeyword = searchInput.value;

               // 서버로 검색 요청을 보냅니다.
                axios.get("/membership/selectId")
                .then(function (response) {
                    // 검색 결과를 받아와서 테이블에 표시합니다.
                    var data = response.data;


                    // data를 DTO에 매핑하고 테이블에 표시하는 코드를 작성해야 합니다.

                    displaySearchResults(data);
                    // 예를 들어, data를 반복하여 테이블 행을 추가할 수 있습니다.
                })
                .catch(function (error) {
                    console.error("검색에 실패했습니다.", error);
                });


            });
        });





    //회원 삭제 script
       const form = document.querySelector('.ms_delete');
       const searchInput = document.querySelector('#remove_input');

       form.addEventListener('click', async function (event) {
           event.preventDefault();

           const searchValue = searchInput.value;

           try {
               const response = await axios.post('/membership/delete', null, {
                   params: { username: searchValue }
               });
               console.log('서버 응답:', response);
               alert('삭제가 완료되었습니다.');
               location.reload();
           } catch (error) {
               if (error.response) {
                   console.error('서버 응답 오류:', error.response.data);
               } else {
                   console.error('요청 오류:', error.message);
               }
               // 오류가 발생했을 때 처리
               alert('삭제에 실패했습니다.');
           }
       });
    });
-->


</script>


</html>