<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>WaterMelon</title>

    <!--  BS5  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <!-- google icons -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

    <!-- common.css    -->
    <link rel="stylesheet" href="/css/common.css" type="text/css">
    <!-- header -->
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <!-- QnA_Page_Section -->
    <link rel="stylesheet" href="/css/qna/read.css" type="text/css">
    <!-- footer -->
    <link rel="stylesheet" href="/css/footer.css" type="text/css">

    <!-- favicon.ico   -->
    <link rel="icon" href="/images/favicon/favicon.ico"/>

</head>
<body>


<div class="wrapper">
    <!-- 메인 -->
    <header>
        <div class="top-header">
            <a href="/main"><img class="logo" src="/images/로고.png" alt=""></a>
            <form action="/search" method="get">
                <div class="search_box">
                    <select name="type"  class="selectbox" >
                        <option value="title" selected>TITLE</option>
                        <option value="artist">ARTIST</option>
                    </select>
                    <input id="searchInput" type="text" name="searchText" placeholder="듣고 싶은 노래를 검색하세요!" >
                    <button type="submit">🔍</button>
                </div>
            </form>
            <ul>
                <li><a href="/membership"
                       style="color:rgb(92, 115, 6); font-family: 'SDSamliphopangche_Basic'; font-size: 19px;"><img
                        src="/images/add.png" alt=""> 멤버십가입</a></li>
                <li><a href=""><img src="/images/english.png" alt="">ENGLISH</a></li>
            </ul>
        </div>
    </header>
    <nav>
        <div class="mobilemenu">
                <span href="" class="material-symbols-outlined">menu
                    <ul class="wa">
                        <li><a href="">수박차트</a></li>
                        <li><a href="">수박DJ</a></li>
                        <li><a href="">수박TV</a></li>
                        <li><a href="">수박매거진</a></li>
                        <li><a href="">공지사항</a></li>
                        <li><a href="">마이페이지</a></li>
                    </ul>
                </span>
        </div>
        <div class="navi">
            <div class="Menu_left">
                <ul class="one--depth">
                    <li>
                        <a href="">수박차트</a>
                        <ul class="two--depth">
                            <li><a href="/Top100">TOP100</a></li>
                            <li><a href="">최신음악</a></li>
                            <li><a href="">장르음악</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">수박DJ</a>
                        <ul class="two--depth">
                            <li><a href="">#투데이</a></li>
                            <li><a href="">테마장르</a></li>
                            <li><a href="">인기선곡</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">수박TV</a>
                        <ul class="two--depth">
                            <li><a href="">뮤직비디오</a></li>
                            <li><a href="">수박방송</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">수박매거진</a>
                        <ul class="two--depth">
                            <li><a href="./magazine.html">오늘의매거진</a></li>
                            <li><a href="">완결매거진</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="Menu_right">
                <ul class="one--depth">
                    <li>
                        <a href="">공지사항</a>
                        <ul class="two--depth">
                            <li><a href="/notice/list">공지사항</a></li>
                            <li><a href="/qna/list">QnA</a></li>
                            <li><a href="">자주하는질문</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">마이페이지</a>
                        <ul class="two--depth">
                            <li><a href="/member/mypage">정보수정</a></li>
                            <li><a href="/inmylist">마이리스트</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
    <div class="header_line"></div>


    <section class="sec_1">
        <!-- title -->
        <div id="qna">QnA</div>
        <div>
            <input type="hidden" name="no">
            <div class="mb-3 w-100">
                <label for="exampleFormControlInput1" class="form-label">No</label>
                <input type="text" name="no" class="form-control" id="exampleFormControlInput1" th:value="${qnaDto.no}"
                       readonly>
            </div>
            <div class="mb-3 w-100">
                <label for="exampleFormControlInput2" class="form-label">질문한 사람</label>
                <input type="email" class="form-control" id="exampleFormControlInput2" th:value="${qnaDto.username}"
                       readonly>
            </div>
            <div class="mb-3 w-100">
                <label for="ex2" class="form-label">QnA 제목</label>&nbsp;&nbsp;
                <input type="text" class="form-control" id="ex2" placeholder="Title" name="title"
                       th:value="${qnaDto.title}" readonly>
            </div>
            <div class="mb-3 w-100">
                <label for="exampleFormControlTextarea1" class="form-label">QnA 내용</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" th:text="${qnaDto.content}"
                          readonly></textarea>
            </div>
            <div class="mb-3  w-100">
                <th:block>
                    <div th:if="${filenames!=null }">
                        <div>
                            <span>파일개수 : </span><span th:text="${filenames.length}"></span>
                        </div>
                        <!-- 문자열을 쉼표(,)로 분할하고 각각의 항목을 출력합니다. -->
                        <div th:each="i : ${#numbers.sequence(0, filenames.length-1)}">
                            <a th:href="@{/qna/download(filename=${filenames[i]})}">
                                <span th:text="${filenames[i]}"> </span>&nbsp;&nbsp;
                                ( <span th:text="${filesizes[i]}"> </span><span> Byte</span> )
                            </a>
                        </div>
                    </div>
                </th:block>
            </div>
            <div class="button">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end" aria-label="Basic outlined example">
                    <a type="button" class="btn btn-outline-danger btn-sm update_btn"
                       style="width:80px; margin-top:10px;" th:href="@{/qna/update(no=${qnaDto.no})}">수정</a>
                    <a type="button" class="btn btn-outline-danger btn-sm delete_btn"
                       style="width:80px; margin-top:10px;" th:data-no="${qnaDto.no}">삭제</a>
                    <a type="button" class="btn btn-outline-danger btn-sm" style="width:80px; margin-top:10px;"
                       th:href="@{/qna/list(pageNo=${pageNo})}">이전</a>
                </div>
            </div>

        </div>
    </section>

    <section class="sec_2">
        <label for="exampleFormControlInput2" class="form-label">관리자 댓글</label>
        <div class="reply-header">
            <div>
                <img src="/images/account.png"/>
            </div>
            <div>
                <input name="contents" class="form-control reply_contents" placeholder="관리자가 댓글을 작성합니다."
                       th:readonly="${#strings.equals(role, 'USER')}">
            </div>
            <div>
                <button class="btn btn-danger reply_btn" style="width:80px;"
                        th:disabled="${#strings.equals(role, 'USER')}">댓글
                </button>
            </div>
        </div>

        <div class="reply-body">

            <div class="items">

            </div>

        </div>


    </section>

    <footer>
        <div class="footer_line"></div>
        <div>
            <ul class="footer_menu">
                <li><a href="">이용약관</a></li>
                <li><a href="">고객센터</a></li>
                <li><a href="">제휴/프로모션</a></li>
                <li><a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;개인정보처리방침</a></li>
            </ul>
        </div>
        <p></p>
        <div class="Site_info">
            <img id="footer_logo" src="/images/로고.png" alt="">
            <span class="Sitename">(주)WATERMELON MUSIC</span>
            <span>대구광역시 중구 중앙대로 366 반월센트럴타워 10층</span>
            <span>대표이사 : 윤치연, 김예솔, 이헌지, 최정기</span>
            <span>사업자등록번호 : 024-04-02023</span>
            <br>
            <span>문의전화 : 1544-1111 (평일 09:00-18:00)</span>
            <span>WATERMELON MUSIC으로 음악과 함께하는 즐거운 하루 보내세요!</span>
        </div>

    </footer>

</div>


<!-- axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
        integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script th:inline="javascript">
    //model변수 받아오기
    var qnaUsername = [[${qnaDto.username}]];
</script>

<script>
    //작성자가 아닐 경우 수정, 삭제버튼 비활성화
    axios.get('/user/info')
        .then(function(response) {
            username = response.data;
            console.log("User: " + username);
            console.log("Post : " + qnaUsername);

            const update_btn_el = document.querySelector('.update_btn');
            const delete_btn_el = document.querySelector('.delete_btn');

             if (username !== qnaUsername) {
                //작성자가 아닐 때 버튼 비활성화
                console.log("작성자가 다릅니다.")
                update_btn_el.removeAttribute('href');
                update_btn_el.addEventListener('click', function() {alert('작성자만 수정할 수 있습니다.');});
                delete_btn_el.removeAttribute('href');
                delete_btn_el.addEventListener('click', function() {alert('작성자만 삭제할 수 있습니다.');});
            } else if(username == qnaUsername){
            //작성자일 때 삭제 가능
            delete_btn_el.addEventListener('click',function(){
            const no = delete_btn_el.dataset.no;
                axios.delete("/qna/delete?no="+no)
                    .then(
                        response=>{console.log(response);
                            if(response.status === 200){
                                location.href="/qna/list";
                            }
                        })
                    .catch(error=>console.log(error));
                });
            }
        })
        .catch(function(error){
            console.error(error);
        });



//
  //---------------------------
//댓글 추가 (비동기)
//---------------------------
const reply_btn_el = document.querySelector('.reply_btn');

/*<![CDATA[*/
        var qno = [[${qnaDto.no}]];
 /*]]>*/

reply_btn_el.addEventListener('click',function(){
    const reply_contents_el = document.querySelector('.reply_contents');

    //비동기 Add요청
     axios.get("/qna/reply/add?qno="+qno+"&contents="+reply_contents_el.value)
    .then(response=>{
        console.log(response);
        //기존list삭제
        const replyBody_items = document.querySelector('.reply-body .items');
        while(replyBody_items.firstChild){
             replyBody_items.firstChild.remove()
        }

        //새로list불러오기
        getReplylist();


        //Input Clear
        reply_contents_el.value="";
    })
    .catch(error=>console.log(error));

});
//----------------------------------------------------------------
//엔터키 댓글 추가
//----------------------------------------------------------------
const reply_contents_el = document.querySelector('.reply_contents');
reply_contents_el.addEventListener('keydown',function(e){

    if(e.keyCode==13){

            axios.get("/qna/reply/add?qno="+qno+"&contents="+reply_contents_el.value)
            .then(response=>{
                console.log(response);

                //기존list삭제
                const replyBody_items = document.querySelector('.reply-body .items');
                while(replyBody_items.firstChild){
                     replyBody_items.firstChild.remove()
                }

                //새로list불러오기
                getReplylist();



                //Input Clear
                reply_contents_el.value="";

            })
            .catch(error=>console.log(error));

    }
});



//---------------------------
// 댓글 조회하기(비동기)
//---------------------------
const getReplylist = ()=>{

 /*<![CDATA[*/
        let qno = [[${qnaDto.no}]];
 /*]]>*/

    console.log("getReplylist qno :",qno);
    axios.get("/qna/reply/list?qno="+qno)
    .then(response=>{
        console.log(response.data);
        if(response.data!=null)
        {

            //댓글 Item 만들기
            const reply_list = response.data;
            reply_list.forEach(
                reply=>{
                    CreateItem(reply);
                }
            );

        }
    })
    .catch(error=>console.log(error));
};
getReplylist();


//----------------------------------------------------------------
// Item 만들기
//----------------------------------------------------------------
const items_el = document.querySelector(".items");
const CreateItem = (reply)=>{
    console.log("reply : ",reply);

    // div 엘리먼트 생성
    var divElement = document.createElement("div");
    divElement.className = "item";

    // header div 엘리먼트 생성
    var headerElement = document.createElement("div");
    headerElement.className = "header";

    // img 엘리먼트 생성
    var imgElement = document.createElement("img");
    imgElement.src = "/images/account.png";
    imgElement.alt = "";

    // header div에 img 엘리먼트 추가
    headerElement.appendChild(imgElement);

    // body div 엘리먼트 생성
    var bodyElement = document.createElement("div");
    bodyElement.className = "body";

    // 내용 엘리먼트 생성(계정 | 날짜 )
    var contentDiv = document.createElement("div");

    var span1 = document.createElement("span");
    span1.className = "reply_manager";
    span1.textContent = "관리자입니다^__________^";
    var span2 = document.createElement("span");
    span2.className = "reply_regdate";
    span2.textContent = formatter(reply.regdate);


    var delete_a = document.createElement("a");
    delete_a.setAttribute("href","/qna/reply/delete/"+reply.qno+"/"+reply.rno);       //DELETE HREF!!!!!!!!
    var span3 = document.createElement("span");
    span3.className = "reply_delete material-symbols-outlined";
    span3.textContent = "delete";
    delete_a.appendChild(span3);

    contentDiv.appendChild(span1);
    contentDiv.appendChild(span2);
    contentDiv.appendChild(delete_a);

    // 내용 엘리먼트 추가
    bodyElement.appendChild(contentDiv);



    // contents div 엘리먼트 생성
    var contentsDiv = document.createElement("div");
    contentsDiv.className = "contents";
    contentsDiv.textContent = reply.content;

    // contents div 엘리먼트 추가
    bodyElement.appendChild(contentsDiv);

    // header와 body 엘리먼트를 div에 추가
    divElement.appendChild(headerElement);
    divElement.appendChild(bodyElement);

    // div 엘리먼트를 body에 추가
    items_el.appendChild(divElement);
}

//----------------------------------------------------------------
// LocalDate Formatter
//----------------------------------------------------------------
const formatter = (regDate)=>{
  // 분리한 정보를 사용하여 Date 객체를 생성합니다.
  const year = parseInt(regDate[0]);
  const month = parseInt(regDate[1]) - 1; // 월은 0부터 시작하므로 1을 빼줍니다.
  const day = parseInt(regDate[2]);
  const hours = parseInt(regDate[3]);
  const minutes = parseInt(regDate[4]);
  const seconds = parseInt(regDate[5]);

  const date = new Date(year, month, day, hours, minutes, seconds);

  // Date 객체를 원하는 형식으로 포맷팅합니다.
  const formattedDate = `${date.getFullYear()}-${(date.getMonth() + 1).toString().padStart(2, '0')}-${date.getDate().toString().padStart(2, '0')} ${date.getHours().toString().padStart(2, '0')}:${date.getMinutes().toString().padStart(2, '0')}:${date.getSeconds().toString().padStart(2, '0')}`;

  return formattedDate;
};

</script>

</body>
</html>